<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/sytle .css" />
</head>
<body>
    <nav class="navbar">
        <h1>My Dashboard</h1>
        <button style="border: 2px solid black; padding: 10px 20px; background-color: white; color: black;"   type="button" class="btn">Logout</button>
    </nav>
    <main>
        <h2 id="msg"></h2>
        <p>This is your dashboard. You can add your content here.</p>
        <script src="/static/dashboard.js"></script>
    </main>
</body>
</html>
